body {
    background: black;
    color: white;
    margin: 0px;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

/* Container for the lines */
.lines {
    position: relative;
    transform: translate(0, -50%);
    overflow: hidden;
    
    border: solid rgb(0,0,0,0) 2px;
    min-height: 1em; /* So there's something to grab & move even if empty */
}

.lines:hover {
    border: solid red 2px;
    background-color: blue;
    cursor: pointer;
}

/* The lines themselves */

.line {
    display: block;
    text-align: center;
    overflow: hidden;
}

.line.foreign {
    color: pink;
}

.line.foreign + .line.english {
    margin-top: 1em;
}

.hidden {
    display: none;
}

